<h1> Submit a recipe! </h1>

<form action="/recipes" method="POST">

<label> Name: </label>
<input type="text" name="name"/><br>

<label> Ingredients: </label>
<textarea name="ingredients"></textarea><br>

<label> Cook Time: </label>
<input type="text" name="cook_time"/><br>

<input type="submit" value="Submit">
</form>